@charset "UTF-8";
/*color*/
/*font*/
/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans TC", sans-serif;
  /*設定背景色*/
  background: #fcf6ef;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
}

/* 全域 border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*max-width依開版尺寸修改*/
.container {
  max-width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* CSS Reset end */
/*header*/
.header-bg {
  background-color: #EE592E;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.header h1 a {
  padding-left: 42px;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}
.header .fa-bars {
  color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu li a {
  color: #fff;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 56px;
  font-size: 18px;
}
.menu li a:hover {
  color: #bdbbb8;
}

/*在PC上隱藏漢堡選單按鈕*/
.showmenu {
  display: none;
}

@media (max-width: 576px) {
  .menu {
    /*在手機版先設定0px超出範圍隱藏*/
    max-height: 0px;
    overflow: hidden;
    /*將menu選單定位在header，並讓選單在最上層*/
    position: absolute;
    z-index: 100;
    background: #EE592E;
    top: 60px;
    left: 0;
    right: 0;
    -webkit-transition: max-height 1.3s;
    transition: max-height 1.3s;
    display: block;
  }
  .menu li a {
    border-top: 1px solid #fff;
  }

  /*手機版打開showmenu*/
  .showmenu {
    display: block;
    margin: 1em;
  }

  /*jQ點擊後動態在 body 加上 class */
  .menu-show .menu {
    max-height: 500px;
    /*display: block;*/
  }
}
/*banner*/
.banner {
  background-image: url("../img/header_desktop.jpg");
  padding-top: 250px;
  padding-bottom: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner .bannerText {
  width: 460px;
  height: 152px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.banner .bannerText h2 {
  font-size: 36px;
  line-height: 48px;
}
.banner .bannerText p {
  font-size: 28px;
}

.title {
  font-size: 38px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: #3d1101;
  line-height: 46px;
}

@media (max-width: 576px) {
  .title {
    font-size: 32px;
  }
}
/*footer*/
.footerBg {
  background-color: #FBAB1B;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3d1101;
}
.footer h3 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}
.footer li {
  line-height: 24px;
}
.footer .footerTitle {
  text-align: right;
}
.footer .footerTitle a {
  font-size: 50px;
  font-weight: bold;
  color: #3d1101;
}
.footer .footerTitle i {
  font-size: 36px;
  margin-left: 12px;
  margin-top: 22px;
}

@media (max-width: 576px) {
  .footer {
    display: block;
    width: 100%;
  }
  .footer ul {
    margin-bottom: 30px;
  }
}
/*content*/
.content {
  padding-top: 60px;
  padding-bottom: 60px;
}
.content .contentText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #8b5b4d;
}
.content .contentText li {
  width: 33.33333333%;
  margin-right: 20px;
  margin-left: 2px;
}
.content .contentText img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.content .contentText h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 11px;
  font-weight: bold;
}
.content .contentText p {
  line-height: 24px;
  text-align: left;
}

@media (max-width: 576px) {
  .content .contentText {
    display: block;
  }
  .content .contentText li {
    width: 100%;
  }
  .content .contentText p {
    margin-bottom: 40px;
  }
}
/*about*/
.aboutBg {
  background: #bdbbb8;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .aboutImg {
  width: 470px;
  height: 460px;
}
.about .aboutImg img {
  width: 100%;
  height: 100%;
}
.about .aboutText {
  margin-left: 25px;
  width: 470px;
  color: #8b5b4d;
}
.about .aboutText h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #3d1101;
}
.about .aboutText p {
  line-height: 24px;
}

@media (max-width: 576px) {
  .about {
    display: block;
  }
  .about .aboutImg {
    width: 100%;
  }
  .about .aboutText {
    width: 100%;
    margin: 0px;
    padding: 30px 20px;
  }
}
/*reports*/
.report {
  padding-bottom: 60px;
  padding-top: 60px;
  color: #8b5b4d;
}

.reportsUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reportsLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reportsLi img {
  width: 67px;
  height: 67px;
  border-radius: 100%;
}
.reportsLi .reportText {
  width: 220px;
  margin-left: 13px;
}
.reportsLi .reportText .reporName {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.reportsLi .reportText p {
  margin-top: 22px;
  margin-bottom: 16px;
  line-height: 24px;
}
.reportsLi .reportText a {
  display: block;
  color: #8b5b4d;
  text-align: right;
}
.reportsLi .reportText a:hover {
  font-weight: 600;
  color: #8b5b4d;
}

@media (max-width: 576px) {
  .reportsUl {
    display: block;
  }

  .reportsLi .reportText {
    width: 100%;
  }
}
/*order*/
.orderBg {
  background: #f8d6ac;
  padding-top: 60px;
  padding-bottom: 60px;
}

.order {
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order img {
  width: 460px;
}
.order .orderForm {
  margin-left: 20px;
  width: 460px;
}
.order .orderInput {
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  background: #fff;
  border: 1px solid #8b5b4d;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3d1101;
          box-shadow: inset 0px 1px 0px 0px #3d1101;
  border-radius: 3px;
}
.order .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order .button .btn {
  color: #fff;
  background: #3d1101;
  border-radius: 3px;
  border: 0px;
  margin-left: 11px;
  margin-top: 30px;
}
.order .button a {
  display: block;
  width: 70px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.order .button .cancel {
  background: #8b5b4d;
}

@media (max-width: 576px) {
  .order {
    display: block;
  }
  .order img {
    width: 100%;
  }
  .order .orderForm {
    margin: 0 auto;
    width: 100%;
  }
}
/*cart*/
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #3d1101;
}

@media (max-width: 576px) {
  .cart {
    display: block;
  }
}
.aside {
  width: 25%;
}
.aside h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 16px;
}
.aside i {
  font-size: 28px;
  margin-right: 16px;
}
.aside a {
  display: block;
  font-size: 18px;
  line-height: 40px;
  color: #3d1101;
  font-weight: bold;
  border-bottom: 1px solid #3d1101;
}
.aside a:hover {
  background: #3d1101;
  color: #fff;
}

@media (max-width: 576px) {
  .aside {
    width: 100%;
  }
}
.main {
  width: 75%;
  padding-left: 30px;
}

@media (max-width: 576px) {
  .main {
    padding-left: 0;
    width: 100%;
  }
}
.topmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
.topmain .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topmain .search input {
  width: 424px;
  height: 32px;
  border: 2px solid #3d1101;
  border-radius: 2px 0px 0px 2px;
}
.topmain .search a {
  background: #3d1101;
  color: #fff;
  padding: 7px 9px;
  border: none;
  border-radius: 0px 2px 2px 0px;
  width: 36px;
  height: 32px;
  display: block;
}
.topmain .shopping {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topmain .shopping a {
  color: #3d1101;
  padding-right: 12px;
  border-right: 1px solid #3d1101;
}
.topmain .shopping i {
  padding-left: 12px;
  font-size: 28px;
  margin-right: 16px;
}
.topmain .shopping span {
  position: absolute;
  top: 0;
  right: 8px;
  z-index: 10;
  width: 16px;
  height: 16px;
  background: #EE592E;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #EFE9E7;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  .topmain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topmain .shopping {
    display: block;
  }
  .topmain .shopping a {
    display: none;
  }
}
@media (max-width: 576px) {
  .topmain {
    display: block;
  }
  .topmain .search {
    width: 100%;
  }
  .topmain .search input {
    width: 300px;
  }
  .topmain .shopping {
    display: block;
    text-align: right;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .topmain .shopping a {
    display: none;
  }
}
.cartMenu {
  color: #3d1101;
  text-align: center;
}
.cartMenu .cartMenuUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cartMenu .cartMenuUl li {
  position: relative;
  width: 30%;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
  padding: 10px;
  /*讓人氣no.1橫條橘底超出範圍隱藏*/
  /*overflowg設定跟position:relative同地方*/
  overflow: hidden;
}
.cartMenu .cartMenuUl li img {
  max-width: 100%;
  max-height: 100%;
}
.cartMenu .cartMenuUl li .no1text {
  background: #EE592E;
  color: #fff;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
  position: absolute;
  top: 10px;
  right: -30px;
  font-size: 14px;
  z-index: 4;
  padding-top: 7px;
  /*設定寬高讓底超出範圍*/
  width: 110px;
  height: 28px;
}
.cartMenu .cartMenuUl li .no1bg {
  background: #FBAB1B;
  color: #fff;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
  position: absolute;
  top: 0px;
  right: -22px;
  z-index: 2;
  width: 125px;
  height: 32px;
}
.cartMenu .cartMenuUl li h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 8px;
}
.cartMenu .cartMenuUl li span {
  font-size: 20px;
  font-weight: bold;
}
.cartMenu .cartMenuUl li a {
  display: block;
  font-size: 16px;
  color: #EE592E;
  border: 2px solid #EE592E;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px;
}
.cartMenu .cartMenuUl li a:hover {
  color: #fff;
  background: #EE592E;
  border: 2px solid #EE592E;
}
.cartMenu .cartMenuUl li .fa-shopping-cart {
  margin-right: 5px;
}

@media (max-width: 576px) {
  .cartMenu .cartMenuUl {
    display: block;
  }
  .cartMenu .cartMenuUl li {
    width: 100%;
  }
}
/*login*/
.login {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #3d1101;
}
.login h2 > a {
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: #3d1101;
  margin-bottom: 10px;
  text-align: center;
}
.login p {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 600;
  text-align: center;
}
.login .loginText {
  padding: 15px;
  width: 300px;
  height: 273px;
  margin: 0 auto;
  border-top: 3px solid #EE592E;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}
.login .loginText .loginTitle {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
}
.login .loginText input {
  width: 270px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
          box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 3px;
}
.login .loginText .forget {
  color: #EE592E;
  font-size: 16px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: -8px;
}
.login .loginText .btngroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login .loginText .btn {
  display: block;
  width: 125px;
  height: 32px;
  border-radius: 3px;
  line-height: 32px;
  text-align: center;
}
.login .loginText .btn-yellow {
  background: #bdbbb8;
  color: #fff;
}
.login .loginText .btn-primary {
  background: #EE592E;
  color: #fff;
}