/*color*/
$text-primary: #EE592E;
$text-secondary: #8b5b4d;
$text-third:#3d1101;
$text-yellow: #FBAB1B;
$text-white: #fff;
$text-gray:#bdbbb8;
$text-gray100:#f8d6ac;
$text-black: #000000;

/*font*/
$fz-0: 12px;
$fz-1: 14px;
$fz-2: 16px;
$fz-3: 18px;
$fz-4: 20px;	
$fz-5: 24px;	
$fz-6: 28px;
$fz-7: 32px;
$fz-8: 36px;
$fz-9: 38px;
$fz-10: 40px;
$fz-11: 50px;

